!!!
%html
  %head
    %title Campfire
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to 'Campfire', "#", class: 'navbar-brand'
        .navbar-collapse.collapse#navbar-main.minimal


    .container-fluid
      %p.notice= notice
      %p.alert= alert
      = yield